.footer {
   background: #080808;
    width: 100%;
    padding: 20px;
    color: whitesmoke;
    &__social {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__copy {
      margin-left: 30px;
    }
    &__logo img{
      width: 30px;
    }
}