
.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   min-height: 40px;
   @media (max-width: $mobileSmall) {
       min-height: 5px;
   }

   &._scroll {
       .header__wrapper {
           background-color: $mainOrange;
       }
       .header__body {
           min-height: 50px;
           @media (min-width: $mobile) {
               min-height: 70px;
           }
       }
   }

   &__wrapper {
       position: fixed;
       width: 100%;
       left: 0;
       top: 0;
       z-index: 50;
       transition: background-color 0.3s ease 0s;
   }

   &__body {
      width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 5px 0;
       min-height: 125px;
       position: relative;
       transition: min-height 0.3s ease 0s;

       @media (max-width: $mobile) {
           min-height: 80px;
       }
       @media (max-width: $mobileSmall) {
           min-height: 50px;
       }
   }

   // &__main {
   //     display: flex;
   //     align-items: center;
   //     flex: 0 0 calc(494/1240*100%);

   //     @media (max-width: $mobile) {
   //         flex: 1 1 auto;
   //     }
   // }

   // &__logo {
   //     font-weight: 700;
   //     font-size: 24px;
   //     line-height: calc(29/24*100%);
   //     color: #000000;
   //     position: relative;
   //     z-index: 5;
   // }
}

.menu {
   flex: 0 1 420px;
   &__body {
       @media (max-width: $mobileSmall) {
           position: fixed;
           width: 100%;
           height: 100%;
           overflow: auto;
           top: 0;
           right: -100%;
           background-color: #141516;
           transition: right 0.3s ease 0s;
           padding: 170px 15px 30px 15px;

         //   &::before {
         //       content: '';
         //       position: fixed;
         //       width: 100%;
         //       height: 50px;
         //       top: 0;
         //       right: -100%;
         //       background-color: #fcf8f3;
         //       transition: right 0.3s ease 0s;
         //       z-index: 2;
         //   }

           &.active {
               right: 0;

               &::before {
                   right: 0;
               }
           }
       }
   }

   &__list {
       @media (min-width: $mobileSmall) {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-evenly;
       }
   }

   &__item {
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-wrap: wrap;
       margin: 0px 3px;
       padding: 5px 0px;
       position: relative;
      color: white;
      
       ._icon-arrow-down {
           position: relative;
           top: 1px;
       }

       @media (any-hover: hover) {
           &:hover {
               .menu__sub-list {
                   transform: translate(0px, 0px);
                   opacity: 1;
                   visibility: visible;
                   pointer-events: auto;
               }
               .menu__arrow {
                   transform: rotate(-180deg);
               }
               .menu__link,
               .menu__arrow {
                   color: $mainOrange;
               }
           }
       }

       @media (max-width: $mobileSmall) {
           justify-content: center;
       }
   }

   &__link {
       font-size: 16px;
       font-weight: 500;
       color: inherit;
       background-color: transparent;
       transition: color 0.3s ease 0s;
       &:hover::after {
         width: 100%;
      }
      &::after {
         margin-top: 5px;
         content: '';
         display: block;
         width: 0;
         height: 2px;
         background: $mainOrange;
         transition: width .3s ease;

      }
       @media (max-width: $mobileSmall) {
           font-size: 24px;
       }
   }
}




//===========================================================
//Burger
.icon-menu {
  display: none;
  @media (max-width: $mobileSmall) {
     position: relative;
     display: block;
     flex: 0 0 30px;
     height: 18px;
     cursor: pointer;
     z-index: 5;
   background-color: transparent;
   
  }
}

body {
   &.lock {
       position: fixed;
   }
}

// .icon-menu {
//    display: none;
   
//    position: absolute;
//    left: 0%;
//    top: 0%;
//    z-index: 500;
//    height: 50px;
//    transition: transform .33s ease-out;
// }
.bar__top {
   position: relative;
   background-color: transparent;
   height: 3px;
   width: 35px;
   display: block;
   margin: 6px;
   border-radius: 20px;
}
.bar__top::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 0;
   left: 0;
   background-color: whitesmoke;
   transition: transform .33s cubic-bezier(.54,-.81,.57,.57);
   border-radius: 20px;
   z-index: 200;
}
.bar__middle.active::before {
   transform: rotate(-45deg) ;
}
.bar__top.active::before {
   transform: rotate(-135deg) translateX(-3px);
}
.bar__bottom.active::before {
   transform: rotate(-135deg) translateX(3px);
   
}
.bar__middle {
   position: relative;
   background-color: transparent;
   height: 3px;
   width: 35px;
   display: block;
   margin: 6px;
   border-radius: 20px;
}
.bar__middle:before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   right: 0;
   background-color: whitesmoke;
   transition: transform .33s cubic-bezier(.54,-.81,.57,.57);
   border-radius: 20px;
}
.bar__bottom {
   position: relative;
   background-color: transparent;
   height: 3px;
   width: 35px;
   display: block;
   margin: 6px;
   border-radius: 20px;
}
.bar__bottom:before {
   content: "";
   position: absolute;
   height: 100%;
   width: 50%;
   top: 0;
   right: 0;
   background-color: whitesmoke;
   transition: transform .33s cubic-bezier(.54,-.81,.57,.57);
   border-radius: 20px;
}
